{% extends 'cafeteria_app/base.html' %}

{% load static %}

{% block title %}Cafeteria{% endblock %}

{% block headers %}

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60248.455714903765!2d-99.22056554179689!3d19.302860700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce005208010919%3A0x9761ee695190b694!2sEstadio%20Azteca!5e0!3m2!1ses-419!2smx!4v1690410681885!5m2!1ses-419!2smx" width="1300" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class="container mt-3">
    <h2>Contactanos</h2>
    <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Av. Paseo de las palmas #340 col. Lomas de Chapultepec, del. Miguel Hidalgo</th>          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tel. 56-11-12-02-52 ext. 6007</td>          
        </tr>
        <tr>
          <td>correo_corporativo@corp.com</td>          
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}